nav {
    background-color: #5db5b7;
    color: #FFF;
    float: left;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    height: 65px;
    width: 100%;
}

nav > ul {
    margin-left: 6px;
    margin-top: 0;
    padding-left: 0;
}

nav > ul > li {
    display: inline-block;
    margin-top: 25px;
}

nav > ul > li > a {
    color: #FFF;
    padding: 25px;
}

nav > ul > li > a:hover, nav > ul > li > a:visited, .link > a:hover, .link a:visited{
    color: #FFF;
}

@media screen and (max-width:1280px){
    nav {
    position:relative;
    }

    nav > ul {
        display:none;
    }

   .hamburger-menu {
    cursor: pointer;
    float:left;
    font-size: 42px;
    margin: 12px 24px;
    }
    
    .link {
        margin: 5px 0;
    }
    .menu-mobile {
    background-color: rgb(93 181 183);
    left:0;
    display: none;
    padding: 15px 25px;
    position:absolute;
    top:65px;
    }
    
    .menu-mobile.show {
        display:block;
    }
}


@media screen and (min-width:1280px) {
    .hamburger-menu {
        display:none;
    }

    .menu-mobile {
        display:none;
    }
}